
svg.sd-tree-designer {
  font-family: "Times New Roman", Times, serif;
  $edge-optimal-color: #006f00;
  $edge-selected-color: #045ad1;

  $probabilityColor: #0000d7;

  font-size: 12px;
  position: absolute;
  //top: 0;
  //left: 0;

  .sd-title {
    text-anchor: middle;
    font-size: 16px;
    //dominant-baseline: hanging;
  }
  .sd-description {
    text-anchor: middle;
    font-size: 12px;
    //dominant-baseline: hanging;
  }

  .node {
    cursor: move;

    .payoff {
      fill: #0000d7;
      &.negative, .negative {
        //fill: #0000d7;
      }
    }

    .aggregated-payoff {
      fill: #006f00;
      &.negative, .negative {
        fill: #b60000;
      }
    }

    .probability-to-enter {
      fill: $probabilityColor;
    }

    path {
      -webkit-transition: fill 0.25s; /* Safari */
      transition: fill 0.25s;
    }

    &.optimal {
      path {
        stroke: darken($edge-optimal-color, 2%);
        stroke-width: 1.5px;
      }
    }

    &.selected {

    }

    &.dragging path, &.selected path {
      stroke-dasharray: 3;
    }

    .error-indicator {
      display: none;
      fill: red;
      font-weight: bold;
      font-size: 1.2em;

    }

    &.error {
      .error-indicator {
        display: block;
        animation: pulse 1.3s ease-in;
        -webkit-animation: pulse 1.3s ease-in;
        -webkit-animation-iteration-count: infinite;
      }
    }

    .sd-unfold-button {
      cursor: pointer;
      font-weight: bold;
      font-family: monospace;
    }
  }

  .decision-node {
    $fill-color: #ff7777;
    $fill-highlighted-color: #aa3333;
    $stroke-color: #660000;

    path {
      fill: $fill-color;
      stroke-width: 1px;
      stroke: $stroke-color;
    }
    &.dragging, &.selected {
      path {
        fill: $fill-highlighted-color
      }
    }
  }
  .chance-node {
    $fill-color: #ffff44;
    $fill-highlighted-color: #aaaa00;
    $stroke-color: #666600;

    path {
      fill: $fill-color;
      stroke-width: 1px;
      stroke: $stroke-color;
    }
    &.dragging, &.selected {
      path {
        fill: $fill-highlighted-color;
      }
    }
  }

  .terminal-node {
    $fill-color: #44ff44;
    $fill-highlighted-color: #00aa00;
    $stroke-color: black;

    path {
      fill: $fill-color;
      stroke-width: 1px;
      stroke: $stroke-color;
    }
    &.dragging, &.selected {
      path {
        fill: $fill-highlighted-color;
      }
    }
  }

  marker#arrow-optimal {
    path {
      fill: $edge-optimal-color;
    }
  }
  marker#arrow-selected {
    path {
      fill: $edge-selected-color;
    }
  }
  .edge {
    $stroke-width: 1.5;
    $stroke-width-selected: $stroke-width + 2;
    cursor: pointer;

    path {
      stroke: #424242;
      stroke-width: $stroke-width;
      -webkit-transition: stroke-width 0.3s; /* Safari */
      transition: stroke-width 0.3s;
    }

    .label {
      font-size: 1em;
    }

    .payoff {
      fill: #006f00;
      &.negative, .negative {
        fill: #b60000;
      }
    }

    .probability {
      fill: $probabilityColor;
    }

    &.optimal {
      path {
        stroke-width: $stroke-width-selected - 1.1;
        stroke: $edge-optimal-color;
      }
      &:hover, &.sd-hover {
        path {
          stroke-width: $stroke-width-selected - 0.5;
        }
      }

    }

    &:hover, &.sd-hover {

      path {
        stroke-width: $stroke-width-selected - 1;
      }

      .label {
        //font-weight: bold;
      }

    }

    &.selected {
      path {
        stroke-width: $stroke-width-selected;
        stroke: $edge-selected-color;
      }
      &:hover, &.sd-hover {
        path {
          stroke-width: $stroke-width-selected;
        }
      }

      .label {
        font-weight: bold;
      }

      //transition:none;
      //-webkit-transition: none;
      //animation: pulse 1.3s ease-in;
      //-webkit-animation: pulse 1.3s ease-in;
      //-webkit-animation-iteration-count: infinite;
    }

    @-webkit-keyframes pulse {
      0% {
        opacity: 1.0;
      }
      50% {
        opacity: 0.3;
      }
      100% {
        opacity: 1.0;
      }
    }
    @keyframes pulse {
      0% {
        opacity: 1.0;
      }
      50% {
        opacity: 0.3;
      }
      100% {
        opacity: 1.0;
      }
    }
  }

  .floating-text {
    cursor: move;

    &.sd-empty {
      rect {
        stroke-dasharray: 3;
        stroke: gray;
        stroke-width: 1px;
      }
    }
    &.selected {
      rect {
        stroke-dasharray: 3;
        stroke: black;
        stroke-width: 2px;
      }
    }

  }

  tspan {
    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }

}

.sd-tooltip {
  position: absolute;
  pointer-events: none;
  font-size: 11px;
  background: #fdfdfd;
  padding: 3px 5px;
  border-radius: 8px;
  box-shadow: 1px 3px 3px #b7b7b7;
  text-align: center;
  z-index: 1000;
  font-family: sans-serif;
  //border: 1px solid #ccc;
}

.sd-hidden {
  display: none !important;
}

.sd-growl-list {
  position: fixed;
  top: 55px;

  &.right {
    right: 20px;
  }
  &.left {
    left: 215px;
  }

}

.sd-growl-message {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: white;
  border: 1px solid #3a3a3a;
  border-radius: 7px;
  box-shadow: 1px 3px 3px #b7b7b7;
  padding: 5px 10px;
  margin-bottom: 7px;
  font-size: 14px;

  &.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  &.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  &.danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}